A:link {
	COLOR: #0000ff
}
A:visited {
	COLOR: gray
}
A:hover {
	COLOR: red; BACKGROUND-COLOR: #ff99ff
}
BODY {
	COLOR: #000000; BACKGROUND-COLOR: #9999cc
}
DIV {
	MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px
}
H4 {
	BORDER-RIGHT: #666699 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ccccff 1px solid; PADDING-LEFT: 0.5em; FONT-WEIGHT: bold; FONT-SIZE: 1.25em; PADDING-BOTTOM: 3px; BORDER-LEFT: #ccccff 1px solid; WIDTH: 100%; COLOR: #ff00cc; PADDING-TOP: 5px; BORDER-BOTTOM: #666699 1px solid; BACKGROUND-COLOR: #ffcccc
}
DIV.ref {
	BORDER-RIGHT: #f9f9f2 thin; PADDING-RIGHT: 2%; BORDER-TOP: #f9f9f2 thin; PADDING-LEFT: 2%; BACKGROUND: #f9f9f2; PADDING-BOTTOM: 2%; MARGIN-LEFT: 2%; BORDER-LEFT: #f9f9f2 thin; LINE-HEIGHT: 1.2; PADDING-TOP: 2%; BORDER-BOTTOM: #f9f9f2 thin
}
PRE.ref {
	BORDER-RIGHT: #f9f9f2 thin; PADDING-RIGHT: 2%; BORDER-TOP: #f9f9f2 thin; PADDING-LEFT: 2%; BACKGROUND: #f9f9f2; PADDING-BOTTOM: 2%; MARGIN-LEFT: 2%; BORDER-LEFT: #f9f9f2 thin; LINE-HEIGHT: 1.2; PADDING-TOP: 2%; BORDER-BOTTOM: #f9f9f2 thin
}
.rset {
	FLOAT: right; MARGIN: 0px 0px 0.5em 1em
}
.lset {
	FLOAT: left; MARGIN: 0px 1em 0.5em 0px
}
